.qoutationSection{
    width: 100vw;
    height: 712px;
    background: url("../images/ganesh-5508585_1920.jpg");
    background-size: cover;
    background-position: center;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}
.qoute{
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
}
.author{
    font-size: 30px;
    text-align: right;
}