.offer {
    background: #47294B;
    width: 100vw;
    height: 43px;
    color: #FFFFFF;
    padding-top: 9px;
    font-weight: 700;
    font-size: 18px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}
@media only screen and (max-width: 768px) {
    .offer{
        height: 30px;
        font-size: 12px;   
 }
    header {
        justify-content: space-between;
        padding: 0 0 0 .5rem;
    }
}

.searchBar{
    width: 37vw;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.searchIp{
    border:0px;
    width: 32vw;
    height: 22px;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.searchIp::placeholder{
    color: #C0A2BA;
}

.iconColor {
    color: #97711E;
    margin-right: 2rem;
    font-size: 20px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .searchBar{
        padding:0;
    }
    .searchIp,
    .searchIp::placeholder,
    .iconColor {
        font-size: 14px;
    }
}
.hrLine {
    border: .5px solid rgba(151, 113, 30, 0.49);
}
