.footer{
    position:relative;
    width: 1440px;
    height: 361px;
    background: #47294B;;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 3rem;
}
.footerBox{
    text-align: left;
}
.linktype{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}
.links{
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.links li{
    font-family: 'Baskervville';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.socialLink{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 2rem;
}
.lastHr{
    position: absolute;
    bottom: 3rem;
    width: 1440px;;
    border:1px solid #97711E;
}